.app__explore{
  display: flex;
  flex-direction: row;
  padding: 2rem 3rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.app__explore-buttons{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.app__explore-container{
  position: relative;
}

.app__explore-content p{
  width: 470px;
}

.app__explore-img{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
}

.app__explore-img img:first-child{
  width: 420px;
  height: 550px;
  display: block;
}

.app__explore-play{
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
}

.app__explore-play img{
  width: 25px;
  height: 25px;
}

.app__explore-play p{
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  color: #FFFFFF;
}

.gradient{
  position: absolute;
  width: 30%;
  height: 25%;
  z-index: 0;
  bottom: 50;
  left: 50;
  background: rgba(215, 29, 97, 0.7);
  border-radius: 9999px;
  filter: blur(180px);
}
.app__explore-img .arrow-div{
  background: #05021D;
  box-shadow: 0px 4px 40px rgba(4, 1, 28, 0.24);
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 23%;
  transform: translate(-23%,-50%);
  cursor: pointer;
}

.app__explore-img .arrow-div .img-arrow{
  width: 50px;
  height: 30px;
}

.purple-diamond{
  position: absolute;
  width: 12px;
  height: 12px;
  left: 30%;
  top: -10%;
  /* core/purple */

  background: linear-gradient(180deg, #9A6BFF 0%, #BC9DFF 100%);
  transform: rotate(-45deg);
  opacity: 0.4;
}

.Hexa-vector{
  position: absolute;
  right: -15%;
  top: -30%;
}

.orange-cream{
  position: absolute;
  width: 12px;
  height: 12px;
  right: 45%;
  bottom: -10%;
  opacity: .5;
  /* core/red */
  
  background: linear-gradient(180deg, #F68080 0%, #FF9494 100%);
  transform: rotate(-45deg);
}


@media screen and (max-width: 1150px) {
  .app__explore-img{
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .app__explore-img .arrow-div{
  display: none;
  }
  
}