.app__navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background: #04011C;
  box-shadow: 0px 20px 40px rgba(205, 28, 104, 0.08);

  padding: 1rem 2rem;
  flex-wrap: wrap;
  z-index: 1;
}

.app__navbar-logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app__navbar-logo img{
  width: 130px;
}

.app__navbar-links ul{
  display: flex;
  gap: 1.7rem;
}

.app__navbar-input{
  display: flex;
  gap: 1rem;
  margin: 0;
}

.app__navbar-input input{
  background: #1e1b33;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 0.4rem;

  color: rgba(255, 255, 255, 0.59);

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.app__navbar-smallscreen{
  display: none;
}

.app__navbar-links_smallscreen{
  display:flex;
  flex-direction: column;
  background: #1e1b33;
  top: 4rem;
  right: 10px;
  border-radius: 10px;
  position: fixed;

  padding: 1rem;
  gap: 1rem;
}

.app__navbar-links_smallscreen ul{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

}

.app__navbar-links_smallscreen button{
  display: none;
}

@media screen and (max-width: 900px) {
  .app__navbar-links{
    display: none;
  }

  .app__navbar-smallscreen{
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar-input button{
    display: none;
  }

  .app__navbar-links_smallscreen{
    top: 7rem;
  }
}

@media screen and (max-width: 450px){
  .app__navbar-input {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .app__navbar-input{
    display: none;
  }
}